.table-paginate{
    min-height: 400px;
}

.w-1by3{
    width: 33%;
}

.w-1by4{
    width: 25%;
}

.w-1by2{
    width: 45%;
}

.overlay-container {
    width: 80%;
    max-width: 600px;
    min-height: 640px;
    background: no-repeat center center/cover; /* Add your background image */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 97, 230, 0.13);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;

}



.lang-btn button:hover{
    background-color: transparent;
    color: #696cff;
}

.lang-btn .btn-outline-primary.dropdown-toggle.show {
    background-color: transparent;
    color: #696cff;
}
.lang-btn button:focus{
    background-color: transparent;
    color: #696cff;
}

.meal-price-card{
    transition: linear all .2s;
    padding: 5px;
}

.meal-price-card:hover{
    background-color: #696cff!important;
}


.meal-price-card:hover h1, .meal-price-card:hover h2, .meal-price-card:hover h3{
    color: white;
}
.meal-price-card h1,h2,h3{
    color: #696cff;
    font-weight: bold;
}
.meal-price-card img{
    object-fit: cover;
}

.dropdown-item{
    font-size: 12px;
}

.form-control:disabled, .form-control[readonly]{
    background-color: transparent;
}
.select2-selection{
    height: 39px!important;
}
.select2-container--default .select2-selection--single{
    display: block;
    width: 100%;
    padding: 0.3475rem 1.875rem 0.4375rem 2px;
    /*-moz-padding-start: calc(0.875rem - 3px);*/
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%2867, 89, 113, 0.6%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #696cff !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: #696cff !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: rgba(105, 108, 255, 0.16) !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #697a8d;
}

